.cards .card {
    background-color: black;
}

.cards .card div img{
    border: solid 5px black;
}

.cards .card a:hover{
    cursor: pointer;
}

.cards .card a:hover > div img{
    border: solid 5px white;
}

.cards .card:hover > p,
.cards .card a:hover > p {
    color: white !important;
    cursor: pointer;
}

.cards .card a:hover > i {
    background-color: white;
}

.cards .card a i.bxs-plus-circle {
    font-size: 100px;
    color: gray;
    border: #000000 solid 5px;
}

.perfis button{
    letter-spacing: 4px;
    padding: 12px 35px;
}

.perfis .gerenciar,
.edicao .editar,
.excluir .exclui {
    color: gray;
    border: solid white 2px;
}

.perfis .gerenciar:hover,
.edicao .editar:hover,
.excluir .exclui:hover {
    color: white;
    border: solid white 2px;
}

.perfis .gerenciando,
.edicao .salvar,
.excluir .manter {
    color: black;
    background-color: white;
    border: solid white 2px;
}

.perfis .gerenciando:hover,
.edicao .salvar:hover,
.excluir .manter:hover {
    color:white;
    background-color: #e50914;
    border: solid #e50914 2px;
}
  